::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background: rgb(203 213 225);
}

::-webkit-scrollbar-thumb {
  background: rgb(71 85 105);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
