body,
html {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
a {
  text-decoration: none;
}
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  background: rgb(203 213 225);
}
::-webkit-scrollbar-thumb {
  background: rgb(71 85 105);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* CARD */
.cardElement {
  padding: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
  border-radius: 2px;
}
.cardElement:hover {
  padding: 5px;
  background-color: rgb(241 245 249);
}
/* BRAND */
.brand {
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: rgb(71 85 105);
  text-decoration: none;
  font-style: italic;
  text-transform: uppercase;
}
/* IMAGE */
.image {
  height: 100%;
  width: 100%;
}
/* NAME */
.name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(71 85 105);
  text-decoration-line: underline;
}
/* OUTBOUND_LINK */
.outbound-link {
  display: flex;
}
/* ADS-WRAPPER */
.ads-wrapper {
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section1 {
  display: flex;
  gap: 0.25rem;
}
.label {
  font-size: 0.5rem;
  font-weight: 900;
  color: rgb(71 85 105);
}
.text {
  font-weight: 900;
  font-size: 0.4rem;
  color: rgb(107 114 128);
}
/* close-btn */
.close-btn {
  font-weight: bold;
  font-size: 0.8rem;
  color: rgb(71 85 105);
  padding-left: 0.25rem;
}
/* ADS-CONTAINER */
.adds-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  padding: 0.2rem;
}
@media (min-width: 768px) {
  .ads-wrapper {
    padding: 0.3rem 0 0.2rem 0.1rem;
    background-color: rgb(226 232 240);
  }
  .element-container {
    display: flex;
    flex-direction: column;
    width: 20%;
    max-height: 100%;
    position: absolute;
    right: 0;
    padding: 1px solid gray;
  }
  .adds-container {
    height: 100vh;
    overflow-y: scroll;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    box-shadow: inset 0 1px 6px 0 rgb(71 85 105);
    display: flex;
    flex-direction: column;
  }
  .close-btn {
    padding: 0.5rem;
  }
}
